.navigation {
  height: 70px;
  width: 100%;
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  border-bottom: 1px solid #e5e4e4;
  background-color: #ffffff;

  .logo-container {
    height: 100%;
    width: 300px;
    padding: 25px;
    display: flex;
    justify-content: space-between;

    .site-name {
      font-weight: bold;
      font-size: 30px;
      color: #afaeae;
    }
  }



  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}

.page-content {
 padding: 20px 40px;
}
